{% load static %}
{% extends 'oscar/catalouge/browse.html' %}

<html lang='{ LANGUAGE_CODE|default: de-de" }} class="{% block html_class %}no-js{% endblock %}'>
<link rel="stylesheet" type="text/css" href="{% static 'oscar/css/styles.css' %}" media="screen" />

<!--Photoheader not at the right spot-->
<section id="banner-GreenOasis-home" class="page-banner-block">
    <div class="photoheader" style=" height: 425px;"><img src="{% static 'images/placeholder.jpg' %}"
            style="height: 100%" alt="" srcset="{% static 'images/placeholder_small.jpg' %}">
        <div class="home-overlay fadein appearonload" style="position: static;">
            <div class="container-fluid" style="height: 575px;">
                <div class="overlay-content">
                    <h1>Schaffen Sie Ihre eigene grüne Oase</h1>
                    <h1>mit ausgewählten, nachhaltig gezogenen</h1>
                    <h2>Pflanzen</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid intro-text-frame" style="margin-top: -575px;">
        <div class="overlay-text" style="background-color: rgba(222,190,72,0.85);">
            <h2>GreenOasis - für Umwelt und Wohlbefinden</h2>
            <p>
                <!-- /wp:heading -->
                <!-- wp:paragraph -->
            </p>
            <p>Von heimischen Pflanzen zu Raritäten finden Pflanzenliebhaber immer die richtige Pflanze für Ihr
                Zuhause.
            </p>
            <p style="text-align: center;"><a class="btn" href="{% url 'oscar/catalouge/browse.html' %}">Alle Pflanzen
                    ansehen</a></p>
        </div>
    </div>
</section>