{% extends 'oscar/checkout/payment_details.html' %}
{% load i18n %}
{% load static %}

<html lang='{ LANGUAGE_CODE|default: de-de" }'>
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" media="screen" />

{% block payment_details %}
{% block favicon %}
<link rel="shortcut icon" href="{% static 'GreenOasis0.png' %}" />
{% endblock %}

{% block shipping_address %}
<div class="span6">
    <h3>{% trans "Shipping" %}</h3>
    <div class="well well-info" data-behaviours="match-height">
        {% if shipping_address %}
        <h4>{% trans "Address" %}</h4>
        <p>
            {% for field in shipping_address.active_address_fields %}
            {{ field }}<br />
            {% endfor %}
        </p>
        {% if shipping_address.phone_number %}
        <p>{% trans "Contact number" %}: {{ shipping_address.phone_number }}</p>
        {% endif %}

        {% if shipping_address.notes %}
        <p>{% trans "Shipping notes" %}</p>
        <p>{{ shipping_address.notes|linebreaks }}</p>
        {% endif %}

        <h4>{% trans "Shipping method" %}</h4>
        <p>{{ shipping_method.name }}
            {% if shipping_method.description %}
            - {{ shipping_method.description }}
            {% endif %}
        </p>
        </dl>

        {% block shipping_address_actions %}
        <div class="alert-actions">
            <a href="{% url 'checkout:shipping-address' %}" class="btn">{% trans "Change shipping address" %}</a>
        </div>
        {% endblock %}

        {% else %}
        {% trans "No shipping is required for this order" %}
        {% endif %}
    </div>
</div>
{% endblock shipping_address %}

{% block payment_details_content %}
<form action="{% url 'checkout:preview' %}" class="payment-details form-horizontal" method="post">
    {% csrf_token %}

    <div class="well well-info">
        <h3>{% trans "Bankcard" %}</h3>
        <div class="alert alert-warning">
            <h4>{% trans "Mit Bankkarte zahlen" %}</h4>
            <p>{% trans "You can use your card number together with your ID number." %}</p>
        </div>
    </div>

    <div class="well well-info">
        <h3>{% trans "Billing address" %}</h3>
        {{ billing_address_form.non_field_errors }}

        {% if basket.is_shipping_required %}
        <p>
            {{ billing_address_form.same_as_shipping.0 }}
            {{ billing_address_form.same_as_shipping.1 }}
        </p>
        <div id="billing_address_form" style="display:none">
            {% else %}
            <div style="">
                {{ billing_address_form.same_as_shipping }}
            </div>
            <div id="billing_address_form">
                {% endif %}
                Your address
            </div>
        </div>

        {% block formactions %}
        <div class="form-actions">
            {% if anon_checkout_allowed or request.user.is_authenticated %}
            <a href="{% url 'paypal-redirect' %}"><img src='https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif'
                    style="margin-right:7px, align-left;"></a>
            <br />
            {% endif %}
            </a>
        </div>
        {% endblock %}
        <button type="submit" class="pull-right btn btn-large btn-primary"
            data-loading-text="{% trans 'Submitting...' %}">{% trans "Continue" %}</button>
</form>
{% endblock %}
{% endblock payment_details %}


{% block onbodyload %}
{# Toggle visibility of the billing address form #}
$("input[name='same_as_shipping']").change(function(){
$("#billing_address_form").toggle();
});
{% endblock %}