{% load static %}
{% load i18n %}

{% block favicon %}
<link rel="shortcut icon" href="{% static 'GreenOasis0.png' %}" />
{% endblock %}

<link rel="stylesheet" type="text/css" href="{% static 'oscar/css/styles.css' %}" media="screen" />


{% block body_class %}

<div class="container-fluid">
    <br />
    <p></p>
    <h2>{% trans "About us" %}</h2>
    <div>
        <br />
        <p>
            GreenOasis wurde 2021 gegründet, um auch in schwierigen Zeiten eine sichere und günstige Option
            für nachhaltig gezogene Pflanzen zu ermöglichen. Durch den Hype (insbesondere seltener) Pflanzen sind nicht
            nur die Preise gestiegen, sondern auch viele Pflanzen häufig ausverkauft. Dies hat die - bereits selten
            nachahltige Produktion der Pflanzen weiter verschlechtert. Hiergegen möchte GreenOasis vorgehen, um unsere
            Welt nicht nur im Urban Jungle grün zu halten. Hierzu spendet GreenOasis 10% der Einnahmen eines jeden
            Verkaufs Rettet den Regenwald.
        </p>
        <p>
            Um eine Möglichkeit zum einfachen Bezug nachhaltig gezogener Pflanzen zu günstigen Preisen zu
            ermöglichen wurde
            &ldquo;GreenOasis&rdquo; gegründet. Die Pflanzen werden alle in Deutschland gezogen und stammen zum Großteil
            aus eigener Hobbyzucht.
            Durch die nachhaltige Produktion sowie die Spende von 10% der Einnahmen je Verkauf, leistet
            &ldquo;GreenOasis&rdquo; einen Beitrag für mehr grün im Urban Jungle sowie im Regenwald.
        </p>
        <p>
            Sie wollen Ihre Wohnung, Hof oder Garten grüner gestalten? Dann sind Sie bei
            &ldquo;GreenOasis&rdquo; genau richtig!
        </p>
    </div>
</div>
<img src="{% static 'images/GreenOasis.png' %}" />
{% endblock body_class %}