{% load static %}

{% load i18n %}
<!DOCTYPE html>
<html lang='{ LANGUAGE_CODE|default: de-de" }} class="{% block html_class %}no-js{% endblock %}'>
<link rel="stylesheet" type="text/css" href="{% static 'oscar/css/styles.css' %}" media="screen" />

<head>
    <title>{% block title %}{{ shop_name }} - {{ shop_tagline }}{% endblock %}</title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="created" content="{% now ' jS M Y h:i' %}" />
    <meta name="description" content="{% block description %}{% endblock %}" />
    <meta name="viewport" content="{% block viewport %}width=device-width{% endblock %}" />
    <meta name="robots" content="NOARCHIVE,NOCACHE" />
    {% block favicon %}
    <link rel="shortcut icon" href="{% static 'GreenOasis0.png' %}" />
    {% endblock %}
</head>

<body id="{% block body_id %}default{% endblock %}" class="{% block body_class %}default{% endblock %}">
    {# Main content goes in this 'layout' block #}
    {% block layout %}{% endblock %}

    {# Scripts loaded from a CDN. #}
    {% block cdn_scripts %}
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static "oscar/js/jquery/jquery.min.js" %}"><\/script>')</script>
    {% endblock %}

    {# Local scripts #}
    {% block scripts %}
    {% endblock %}

    {# Additional JS scripts #}
    {% block extrascripts %}{% endblock %}

    {# Block for body onload functions #}
    <script>
        $(function () {
            {% block onbodyload %} {% endblock %}
        });
    </script>

    {# Page meta-data - this is populated by the 'metadata' template context processor #}
</body>

</html>