{% load i18n %}
{% load static %}

{% block layout %}
<html lang='{ LANGUAGE_CODE|default: de-de" }} class="{% block html_class %}no-js{% endblock %}'>
<link rel="stylesheet" type="text/css" href="{% static 'oscar/css/styles.css' %}" media="screen" />
{% include "oscar/partials/nav_accounts.html" %}

<div class="row">
    <div class="large-13 columns">
        <h1>{% block error_heading %}{% trans 'Sorry!' %}{% endblock %}</h1>
        {% block error_message %}{% endblock %}
        <p>
            <a class="button" onclick="javascript:history.go(-1);">{% trans 'Return to previous page' %}</a>
            <a class="button" href="{{ homepage_url }}">{% trans "Go to homepage" %}</a>
        </p>
    </div>
</div>
{% endblock %}