{% load currency_filters %}


<section class="promotion_single">
    <h3>{{ promotion.name }}</h3>
    <div class="well">
        {% include "promotions/partials/productsingle.html" %}
    </div>
</section>