{% load i18n %}

<form id="alert_form_{{ product.id }}" method="post" action="{% url 'customer:alert-create' product.id %}"
    class="form-notify {% if not user.is_authenticated %}form-inline{% endif %}">
    {% csrf_token %}
    {% if not user.is_authenticated %}
    {% include "partials/form_fields_inline.html" with form=alert_form %}
    {% else %}
    {% include "partials/form_fields.html" with form=alert_form %}
    {% endif %}
    <button type="submit" class="btn" data-loading-text="{% trans 'Sub,itting...' %}">{% trans "Notify me" %}</button>
</form>