{% extends 'oscar/basket/partials/basket_content.html' %}

{% block formactions %}
<div class="form-actions">
    {% if anon_checkout_allowed or request.user.is_authenticated %}
    <a href="{% url 'paypal-redirect' %}"><img src='https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif'
            align="left" style="margin-right:7px;"></a>
    {% endif %}
</div>
{% endblock %}