{% load i18n %}
{% load static %}
<footer class="footer container-fluid">
    {% block footer %}
    <div class="column--menu">
        <nav class="column--navigation column--content">
            <ul class="navigation--list" role="menu">
                <li class="navigation--entry" role="menuitem">
                    <a class="navigation--link" href="/about/about_us" title="about_us">
                        Über uns
                    </a>
                </li>
    </div>
    </div>
    <ul class="footer">
        <li>Copyright © 2021 - GreenOasis GmbH - Alle Rechte vorbehalten</li>
        <li><a href="mailto:Greenoasis.Pflanzen@gmail.com">Melden Sie sich bei uns!</a></li>
    </ul>
    {% endblock %}
</footer>