{% load currency_filters %}
{% load i18n %}
{% load static %}

<html lang='{ LANGUAGE_CODE|default: de-de" }} class="{% block html_class %}no-js{% endblock %}'>
<link rel="stylesheet" type="text/css" href="{% static 'oscar/css/styles.css' %}" media="screen" />

{% block favicon %}
<link rel="shortcut icon" href="{% static 'GreenOasis0.png' %}" />
{% endblock %}

{% block payment_method %}
<div class="span6">
    <h3>{% trans "Payment" %}</h3>
    <div class="well well-success" data-behaviours="match-height">

        <h4>Bankcard</h4>
        <p>{% blocktrans with amount=order_total.incl_tax|currency %}
            {{ amount }} will be debited from your bankcard:
            {% endblocktrans %}</p>
        {% with bankcard=bankcard_form.bankcard %}
        <p>
            {% trans "Card type" %}: {{ bankcard.card_type }} <br />
            {% trans "Card number" %}: {{ bankcard.obfuscated_number }} <br />
            {% trans "Expiry month" %}: {{ bankcard.expiry_month }}</p>
        {% endwith %}

        <h4>Rechnungsanschrift</h4>
        Ihre Rechnungsanschrift

        <div class="alert-actions">
            <a href="{% url 'checkout:payment-details' %}" class="btn">{% trans "Change payment details" %}</a>
        </div>
    </div>
</div>
{% endblock %}

{% block place_order %}
<hr />
<form method="post" action="{% url 'checkout:preview' %}" id="place-order-form">
    {% csrf_token %}
    <input type="hidden" name="action" value="place_order" />

    <div style="display:none">
        {% block hiddenforms %}
        {{ bankcard_form.as_p }}
        {{ billing_address_form.as_p }}
        {% endblock %}
    </div>

    <button id='place-order' type="submit" class="pull-right btn btn-primary btn-large"
        data-loading-text="{% trans 'Submitting...' %}">{% trans "Place order" %}</button>
</form>
{% endblock place_order %}