{% extends "oscar/checkout/shipping_address.html" %}
{% load i18n %}

<html lang='{ LANGUAGE_CODE|default: de-de" }} class="{% block html_class %}no-js{% endblock %}'>
<link rel="stylesheet" type="text/css" href="{% static 'oscar/css/styles.css' %}" media="screen" />

{% block header %}
<div class="page-header">
    <h1>{% trans "Where should we ship to?" %}</h1>
</div>
{% endblock %}

{% block favicon %}
<link rel="shortcut icon" href="{% static 'GreenOasis0.png' %}" />
{% endblock %}

{% block shipping_address %}
{% if request.user.is_authenticated %}
{% if addresses %}
<div class="span6">
    <h3>{% trans "An address from your addressbook?" %}</h3>
    <div class="choose-block">
        <ul>
            {% for address in addresses %}
            <li>
                <div class="well well-info {% if address.is_default_for_shipping %}default-address{% endif %}">
                    <address>
                        {% for field in address.active_address_fields %}
                        {{ field }}<br />
                        {% endfor %}
                    </address>
                    <form action="{% url 'checkout:shipping-address' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="ship_to" />
                        <input type="hidden" name="address_id" value="{{ address.id }}" />
                        <div class="row-fluid">
                            <div class="span6">
                                <a class="btn btn-small btn-info"
                                    href="{% url 'checkout:user-address-update' address.id %}">{% trans "Edit" %}</a>
                                <a href="{% url 'checkout:user-address-delete' address.id %}"
                                    class="btn btn-small btn-info">{% trans "Delete" %}</a>
                            </div>
                            <div class="span6">
                                <button type="submit" class="btn btn-primary ship-address pull-right"
                                    data-loading-text="{% trans 'Submitting...' %}">{% trans "Ship to this address"
                                    %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>
            {% if forloop.counter|divisibleby:4 %}
        </ul>
        {% if not forloop.last %}<ul class="row-fluid">{% endif %}
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
{% endif %}

<form action="{% url 'checkout:shipping-address' %}" method="post"
    class="{% if addresses %}span6{% endif %} form-stacked">
    {% if addresses %}
    <h3>{% trans "Or a new address?" %}</h3>
    <div class="well well-info">
        {% csrf_token %}
    </div>
    {% else %}
    <div class="well well-info">
        <div class="row-fluid">
            <div class="span6">
                {% csrf_token %}
            </div>
        </div>
    </div>
    {% endif %}


    <hr />
    <div class="row-fluid">
        <button type="submit" class="btn btn-large btn-primary pull-right"
            data-loading-text="{% trans 'Submitting...' %}">{% trans "Continue" %}</button>
        <a href="{% url 'basket:summary' %}">{% trans "return to basket" %}</a>
    </div>
</form>
</div>
{% endblock shipping_address %}