{% extends "oscar/checkout/user_address_delete.html" %}
{% extends "base.html" %}
{% load i18n %}

<html lang='{ LANGUAGE_CODE|default: de-de" }} class="{% block html_class %}no-js{% endblock %}'>
<link rel="stylesheet" type="text/css" href="{% static 'oscar/css/styles.css' %}" media="screen" />

{% block favicon %}
<link rel="shortcut icon" href="{% static 'GreenOasis0.png' %}" />
{% endblock %}

{% block shipping_address %}
<div class="page-header">
    <h1>{% trans "Delete address?" %}</h1>
</div>
<form action="." method="post" class="well">
    {% csrf_token %}
    <h4>{{ object.summary }}</h4>
    <p>{% trans "Are you sure you want to delete this address?" %}</p>
    <p><button type="submit" class="btn btn-danger" data-loading-text="{% trans 'Submitting...' %}">{% trans "Yes!"
            %}</button>
        {% trans "or" %} <a href="{% url 'checkout:shipping-address' %}">{% trans "cancel" %}</a>.</p>
</form>
{% endblock shipping_address %}